<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Todo.Properties.Settings.TodoConnectionString" connectionString="Data Source=DESKTOP-17R2CEA\SQLEXPRESS;Initial Catalog=Todo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Todo.Properties.Settings.TODOAPPConnectionString"
            connectionString="Data Source=DESKTOP-17R2CEA\SQLEXPRESS;Initial Catalog=TODOAPP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>